.App {
  text-align: center;
  padding-top: 20px; 
}

@media (max-width: 450px) {
  .input-container{
      display: flex; 
      justify-content: center;
      align-items: center;
      flex-direction: column; 
  }

  .inputs {
      display: flex; 
      justify-content: center;
      align-items: center;
      width: 150px; 
      padding: 25px rgb(18, 73, 175);  
  } 
}

.ProfilePageIndividualPost-component-wrapping-div {
  height: 200px;
}

.Edit-ProfilePageIndividualPost-component-wrapping-div {
  height: 180px;
  padding-top: 20px; 
}

.UsernameDisplay-component-wrapping-div {
  height: 120px; 
}

.UsernameDisplay-component-profile-picture {
  height: 90px; 
  width: 90px; 
  border-radius: 50%;
}

.individual-post-button {
  width: 62px; 
}