.navbar-icon {
    display: none;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: rgba(54, 54, 54, 0.5);
    font-size: 20px;
    height: 35px;
    width: 50px;
    border-radius: 5px;
}

.navbar-menu {
    display: flex; 
    flex-direction: row;
}

.navbar-buttons {
    margin: 0 15px; 
}

.waffle {
    display: none;
}

.white-text {
    color: white; 
}

.menu {
    height: 10vh;
    width: 70px;
    position: fixed;
    top: 100px;
    right: -70px;
    z-index: 10;
    transition: .3s;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.slide {
    right: 0px;
}

.slide-menu-buttons {
    display: none;
}

@media (max-width: 450px) {
    
    .navbar-buttons {
        display: none;
    }

    .navbar-icon {
        display: flex;
    }

    .navbar-menu {
        display: none;
    }

    .slide-menu-buttons {
        display: flex; 
    }

}